body {
    font-family:'Times New Roman', Times, serif;
    background: #808080;
}

form {
    width: 300px;
    height: 100px auto;
    padding: 20px;
    background-color: antiquewhite;
    border-radius: 10px;
}

input, button {
    width: 100%;
    padding: 20px;
    margin: 5px 0;
}